language: node_js
node_js:
 - "node"
os:
  - linux
  - osx
  - windows

before_install:
  - npm i -g npm@latest

script:
  - git clone -b struct https://github.com/sCrypt-Inc/compiler_dist.git compiler
  - cd compiler && npm run dl
  - cd -
  - npm test
  # integration testing with boilerplate
  - npm link
  - git clone -b master https://github.com/scrypt-sv/boilerplate.git
  - cd boilerplate
  - npm install
  - npm link scryptlib  # use this version
  #- npm ls scryptlib    # double check the latest version is used
  - npm test -- --ci=true